body {
  overflow-x: hidden;
  background-color: #474747;
}
#yee {
  z-index: 100;
  position: absolute;
  color: black;
  font-size: 70px;
  font-weight: regular;
  font-family: arial;
  text-align: center;
  top: 100px;
  width: 100%;
}
.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}
.b1 {
  justify-content: center;
  align-items: center;
  display: inline-block;
  border-radius: 4px;
  background-color: #42f59e;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  top: 300px;
  position: relative;
}
.b2 {
  justify-content: center;
  align-items: center;
  display: inline-block;
  border-radius: 4px;
  background-color: #42f59e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  top: 0px;
  position: relative;
}
.defaultbody {
  overflow-x: auto;
  overflow-y: auto;
  background: none;
}
#details {
  z-index: 100;
  position: absolute;
  color: black;
  font-size: 30px;
  font-weight: regular;
  text-align: center;
  width: 100%;
}
.return {
  position: relative;
  left: 50%;
  right: 50%;
  top: 250px;
  font-size: 20px;
  color: #00bbff;
}
.titletext {
  position: relative;
  text-align: center;
  top: 250px;
  font-family: arial;
  font-size: 40px;
}
